@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
@import url('https://www.behance.net/gallery/55332529/NEONEON-FREE-FONT/modules/326252995');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');





/* SCROLLBAR */
::-webkit-scrollbar{
    width: .3rem;
}
::-webkit-scrollbar-track{
    background: transparent;
    margin-block:.3rem;
}
::-webkit-scrollbar-thumb{
    background: radial-gradient(849px at 0.9% 2.8%, rgb(255, 110, 255) 0%, rgb(255, 102, 142) 43.4%, rgb(255, 31, 56) 83.1%);
    border-radius: 100vw;
    transition: border .3s ease-in-out;
}
::-webkit-scrollbar-thumb:hover{
    border: .1rem solid white;
}





:root{ 
    --neonderthaw: 'Neonderthaw', cursive;
    --neoneon: 'NEONEON', sans-serif;
    --roboto: 'Roboto Condensed', sans-serif;
    --oswald: 'Oswald', sans-serif;

    --pink: #ff0099;
    --grey: #c8c8c8c8;

    --buttoncolor: #c8c8c8;
}


.maintext{
    font-family: var(--neoneon);
    color: var(--pink);
    font-size:  clamp(2rem, 10vw, 4rem);
    text-shadow: 0 0 .9em #ff009995, 0 0 .9em #ffa1d6b8;
}







*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img, video{
    height: 100%;
    max-width: 1rem;
}

body{
    width: 100vw;
    height: 100vh;
    
    font-family: var(--roboto);
    color: var(--grey);

    background: #00012b;
    background-image: linear-gradient(180deg, rgb(0, 7, 43) 0%, rgb(0, 14, 51) 16%, rgb(0, 7, 40) 36%, rgb(0, 2, 18) 100%);
    /* background-size: 400%; */
    /* animation: bg-animate 10s infinite alternate; */

    overflow-x: hidden;
}

/* @keyframes bg-animate {
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
} */






.main{
    display: flex;
    flex-direction: column;
    height: 82vh;
    overflow: hidden;
}







/* OPENING PAGE */

.openingPage{
    height: 90vh;
    width: 100vw;
    padding: 1.3rem;
    
    background-image: linear-gradient(180deg, rgb(0, 7, 43) 0%, rgb(0, 14, 51) 16%, rgb(0, 7, 40) 36%, rgb(0, 2, 18) 100%);
    border-radius: 0 0 2.3rem 2.3rem;
}

.openingPage h1{
    font-size:  clamp(3.5rem, 13vw, 7rem);
}


.openingPage .opText{
    font-family: var(--oswald);
}

.openingPage .opTextP1, .openingPage .opTextP2{
    font-size:   clamp(1.6rem, 4vw, 2.3rem);
    font-weight: 300;
}

.openingPage .opTextP1{
    top: -6rem;
    left: -1.6rem;
}
.openingPage .opTextP2{
    bottom: -5rem;
    right: -1.6rem;
}

.openingPage .opButton img{
    max-height: 2.6rem;
}

.openingPage .opButton{
    bottom: -1.6rem;

    height: 3.3rem;
    width: 3.3rem;
    border-radius: 50%;
    background-color: var(--pink);

    cursor: pointer;

    box-shadow: .1rem .6rem 3.1rem #ff1fa6;
}





@media (min-width:700px) {
    
    .openingPage .opTextP1{
        left: -4rem;
    }
    .openingPage .opTextP2{
        right: -4rem;
    }
    
    .openingPage .opButton{
        height: 4rem;
        width: 4rem;
        bottom: -2.1rem;
    }
    
}


@media (min-width:1000px) {
    
    .openingPage .opTextP1{
        left: -8rem;
    }
    .openingPage .opTextP2{
        right: -8rem;
    }
    
    
}


















/* HEADER */

header{
    padding: 1rem;
}

header img{
    width: 3rem;
    cursor: pointer;
}




.navBtn{
    --buttoncolor: #ffffff;
    
    background: transparent;
    
    border: 2px solid var(--pink);
    border-radius: .31rem;
    
    overflow: hidden;
    
    position: relative;

    transition: scale .36s ease-in-out;
    z-index: 113;

}


.navBtn:after{
    content: "";
    background: linear-gradient(180deg, #ff0099fd 0%, #f856b7 100%);
    border-radius: 50%;
    
    position: absolute;
    top: -2.1rem;
    left: -2.1rem;
    
    width: 300%;
    height: 300%;
    
    z-index: -1;
    
    transform: scale(0);
    transform-origin: right;
    transition: transform .45s ease-in;
}

.navBtn[aria-expanded = 'true']::after{
    transform: scale(1);
    transform-origin: left;
}


.navBtn:hover{
    scale: 1.06;
}

.navBtn .line{
    animation: to-open .6s forwards;
    transform-origin: center;
}

.navBtn .line.top{
    --rotation: -45deg;
    transform-origin: 65px 45px;
}
.navBtn .line.bottom{
    --rotation: 45deg;
    transform-origin: 60px 55px;
}

.navBtn[aria-expanded = 'true'] .line{
    animation: to-close .6s forwards;
}

@keyframes to-close {
    0%{stroke-dashoffset: 0;}
    40%{stroke-dashoffset: 79.9;}
    60%{stroke-dashoffset: 79.9; rotate: var(--rotation);}
    100%{stroke-dashoffset: 0; rotate: var(--rotation);}
}

@keyframes to-open {
    0%{stroke-dashoffset: 0;rotate: var(--rotation);}
    40%{stroke-dashoffset: 79.9;rotate: var(--rotation);}
    60%{stroke-dashoffset: 79.9; }
    100%{stroke-dashoffset: 0;}
}



header{
    /* z-index: 1; */
}

header nav{
    /* z-index: 101; */
}


header .navbar{
    position: absolute;
    gap: 2rem;
    
    top: 0%;
    right: -78%;
    
    height: 100vh;
    width: 78%;
    
    font-size: clamp(1.1rem, 1.1vw, 1.2rem);
    
    padding: 7.5rem 2rem;
    
    background-image: linear-gradient(180deg, #8f627d44 0%, #d0298d20 100%);

    transition: all .4s ease-in-out;
}

header .navbar.active{
    right: 0;
}





header .navbar li{
    width: max-content;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
header .navbar li:hover{
    color: #ff0099;
    transform: scale(1.05);
}



@media (min-width:1000px) {

    header nav button{
        display: none;
    }

    header{
        height: 5rem;
        padding: 1rem 6rem;
        /* background-image: linear-gradient(180deg, #8f627d36 0%, #d0298d1e 100%);
        box-shadow: 0 .3rem 3rem rgba(0, 0, 0, 0.222); */
    }
    
    
    header .navbar{
        display: flex;
        flex-direction: row;
        
        position: relative;
        inset: 0;
        
        padding: 1.5rem 2rem;
        
        background: none;
        width: auto;
        height: auto;
        
        transition: all .4s ease-in-out;
        
    }
    

}














/* HOME PAGE */

/* .blurbg{
    filter: blur(6rem);
    transition: filter .3s ease-in-out;
} */

.home{
    display: grid;
    grid-template-rows: 47% 35% 1fr;
    gap: 2rem;
    padding-inline: 1.3rem;
    font-family: var(--oswald);
    transition: filter .3s ease-in-out;
    /* position: relative; */
    /* z-index: -1; */
    /* display: none; */
}


.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: -1;
    /* position: fixed; */
}

.home .introImg{
    /* border-radius: 50%; */
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    overflow: hidden;

    /* background-image: url('/assets/WhatsApp\ Image\ 2023-03-15\ at\ 14.30.48.jpg'); */
    background-image: url('/assets/WhatsApp\ Image\ 2023-03-15\ at\ 14.30.48.jpg');
    
    height: 14rem;
    aspect-ratio: 1/1;

    background-position: -1rem -4rem;
    background-repeat: no-repeat;
    background-size: 120%;

    margin: auto;
    margin-top: 1rem;

    animation: animateIntroPic 6s linear infinite;
    border: .5rem solid white;
}

.home .introImg:hover{
    border-radius: 50%;
    animation: none;
}


@keyframes animateIntroPic{
    0%, 100%{
        border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    }
    33%{
        border-radius: 42% 28% 48% 48% / 28% 28% 72% 72%;
    }
    66%{
        border-radius: 100% 56% 56% 100% / 100% 100% 72% 72%;
    }
}















.home .introText p{
    text-align: left;
    margin-bottom: 1.3rem;
    font-size: clamp(1.1rem, 3vw, 1.8rem);
}


.home .introText p:nth-child(3){
    margin-top: 1.3rem;
    text-align: right;
    
}

.home .aboutMeBtn{
    margin: auto;
    padding: .5rem 1.3rem;

    color: var(--pink);
    font-size: clamp(1.2rem, 2.6vw, 1.6rem);
    
    z-index: 2;

    border: 2px solid var(--grey);

    transition: all .16s linear;
    transform-origin: center;

    position: relative;
}

.home .aboutMeBtn:hover{
    scale: 1.05;
    border-radius: .3em;
    box-shadow: 0 0 2.1em #ff009962, 0 0 2.1em #ffa1d673;
    text-shadow: 0 0 .9em #ff009995, 0 0 .9em #ffa1d6b8;
}



/* .home .aboutMeBtn::after, .home .aboutMeBtn::before{
    border: 2px solid var(--pink);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: -1;
    transition: transform .16s linear;
}


.home .aboutMeBtn:hover::after{
    transform: translate(-7px , -7px);
}
.home .aboutMeBtn:hover::before{
    transform: translate(7px , 7px);
} */


@media (min-width:700px) {
    
    .home{
        grid-template-rows: 42% 40% 1fr;
        gap: 1.3rem;
    }

}

@media (min-width:1000px) {

    .home{
        grid-template-rows: 1.5fr .25fr;
        grid-template-columns: 1fr .55fr;

        align-items: center;
        justify-content: center;

        /* margin-top: 6rem; */
        padding: 7.5rem 6rem;
        
        z-index: 1;

    }

    .home .container{
        grid-column: 2;
        grid-row: span 2;
        margin-top: -5rem;
    }

    .home .introText{
        grid-column: 1;
        grid-row: 1;
    }

    .home .introButton{
        grid-row: 2;
    }

    .home .aboutMeBtn{
        margin-top: 3rem;
    }

}

















/* FOOTER */

footer{
    bottom: .9rem;
    z-index: 1000;
    padding-inline: 1rem;
    overflow: hidden;
}

footer .footerLinks{
    width: 30vw;
}

footer .footerLinks img{
    transition: all .1s linear;
    cursor: pointer;
    max-width: 1.9rem;
}

footer .footerLinks img:hover{
    scale: 1.2;
}

@media (min-width:550px) {
    
    footer svg:nth-child(1){
        width: 55vw;
    }

    footer svg:nth-child(3){
        width: 13vw;
    }

    footer .footerLinks{
        width: 25vw;
    }

    footer .footerLinks img{
        max-width: 2.1rem;
    }

}


@media (min-width:700px) {
    
    footer svg:nth-child(1){
        width: 58vw;
    }

    footer svg:nth-child(3){
        width: 16vw;
    }

    footer .footerLinks{
        width: 20vw;
    }
    

}

@media (min-width:1000px) {
    
    footer svg:nth-child(1){
        width: 75vw;
    }

    footer svg:nth-child(3){
        width: 14vw;
    }

    footer .footerLinks{
        width: 9vw;
    }

    footer .footerLinks img{
        max-width: 2.3rem;
    }

}

















/* ABOUT ME */

.aboutMe{
    padding: 1.3rem;
}

.aboutMe .aboutText{
    margin-top: 9rem;
    font-size: clamp(1.1rem, 2.1vw, 1.6rem);
}

.aboutMe .aboutText p{
    padding-inline: 2rem;
}


.aboutMe .aboutText span{
    color: var(--pink);
}

.aboutMe h1{
    color: var(--pink);
    font-family: var(--neoneon);
    font-size: clamp(1.6rem, 9vw, 2.6rem);
    margin-top: 7rem;
}

.aboutMe .skillsImg{
    margin-top: 1rem;
    gap: 1rem;
    padding-inline: 1rem;
}
.aboutMe .skillsImg img{
    max-width: 1.9rem
}



@media (min-width:600px) {
    
    .aboutMe .aboutText p{
        padding-inline: 6rem;
    }

}

@media (min-width:750px) {
    
    .aboutMe .skillsImg img{
        max-width: 2.1rem
    }    


}

@media (min-width:1000px) {
    
    .aboutMe .aboutText p{
        padding-inline: 16rem;
    }

    .aboutMe .skillsImg img{
        max-width: 2.3rem
    }  

    .aboutMe h1{
        margin-top: 9rem;
    }


}